<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="csslayout.css" type="text/css">
    <title>HTML5 LAYOUT</title>
</head>
<body>
    <div id="main">
        <header>
            <h3>My Header</h3>
            <p>Web site name here</p>
        </header>
   
    <div class="topnav">
        <nav>
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Student</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
       
    
    <section>
        <article>
            <header>
                Sport News
            </header>
            <h3>News 1</h3>
            <p>Article 1</p>
            <footer>
                Department of Information Technology
            </footer>
        </article>
        <article>
            <header>
                Weather News
            </header>
            <h3>News 2</h3>
            <p>Article 2</p>
            <footer>
                Department of Information Technology
            </footer>
        </article>
    </section> 
       
            <aside>
                <p><a href="#">Data 1</a></p>
                <p><a href="#">Data 2</a></p>
                <p><a href="#">Data 3</a></p>
                <p><a href="#">Data 4</a></p>
            </aside>
        
    </div>
</body>
</html>

