<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout HTML 5</title>
      <style>
        #fontFirst{
            color: red;
            font-size: 50px;
            text-align: center;
        }
        #fontSecond{
            color: royalblue;
            font-size: 30px;
            text-align: left ;
        }
    </style>
</head>
<body>
    <div id="fontFirst">
        <h1>การทดสอบ การใช้งาน DIV </h1>
        <p>ข้อความในย่อหน้าแรก</p>
        <p>ข้อความในย่อหน้าที่สอง</p>
    </div>
    <div id="fontSecond">
        <p>ข้อความในย่อหน้าที่สาม</p>
        <p>ข้อความในย่อหน้าที่สี่</p>
    </div>
</body>
</html>

